<?xml version="1.0"?>
<config>

    <modules>
        <Smart2Pay_Globalpay>
            <version>1.1.6</version>
        </Smart2Pay_Globalpay>
    </modules>

    <frontend>
        <routers>
            <globalpay>
                <use>standard</use>
                <args>
                    <module>Smart2Pay_Globalpay</module>
                    <frontName>globalpay</frontName>
                </args>
            </globalpay>
        </routers>
        <layout>
            <updates>
                <globalpay>
                    <file>globalpay.xml</file>
                </globalpay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Smart2Pay_Globalpay>
                    <files>
                        <default>Smart2Pay_Globalpay.csv</default>
                    </files>
                </Smart2Pay_Globalpay>
            </modules>
        </translate>
    </frontend>

<!--
    <admin>
        <routers>
            <globalpay>
                <use>admin</use>
                <args>
                    <module>
                        <Smart2pay_Globalpay after="Mage_Adminhtml">Smart2pay_Globalpay</Smart2pay_Globalpay>
                    </module>
                </args>
            </globalpay>
        </routers>
    </admin>
-->
    <adminhtml>

        <layout>
            <updates>
                <globalpay>
                    <file>globalpay.xml</file>
                </globalpay>
            </updates>
        </layout>

<!--
        <routers>
            <globalpay>
                <use>admin</use>
                <args>
                    <module>Smart2Pay_Globalpay</module>
                    <frontName>globalpay_admin</frontName>
                </args>
            </globalpay>
        </routers>
-->

        <translate>
            <modules>
                <Smart2Pay_Globalpay>
                    <files>
                        <default>Smart2Pay_Globalpay.csv</default>
                    </files>
                </Smart2Pay_Globalpay>
            </modules>
        </translate>

    </adminhtml>

    <global>

        <events>

            <!-- Cart related -->
            <checkout_cart_save_after>
                <observers>
                    <Smart2Pay_Globalpay_cart_observer>
                        <type>singleton</type>
                        <class>globalpay/sales_observer</class>
                        <method>remove_surcharge_from_cart</method>
                    </Smart2Pay_Globalpay_cart_observer>
                </observers>
            </checkout_cart_save_after>

            <checkout_quote_init>
                <observers>
                    <Smart2Pay_Globalpay_quote_observer>
                        <type>singleton</type>
                        <class>globalpay/sales_observer</class>
                        <method>remove_surcharge_from_quote</method>
                    </Smart2Pay_Globalpay_quote_observer>
                </observers>
            </checkout_quote_init>
            <checkout_quote_destroy>
                <observers>
                    <Smart2Pay_Globalpay_quote_observer>
                        <type>singleton</type>
                        <class>globalpay/sales_observer</class>
                        <method>remove_surcharge_from_quote</method>
                    </Smart2Pay_Globalpay_quote_observer>
                </observers>
            </checkout_quote_destroy>

            <sales_quote_add_item>
                <observers>
                    <Smart2Pay_Globalpay_quote_observer>
                        <type>singleton</type>
                        <class>globalpay/sales_observer</class>
                        <method>remove_surcharge_from_quote_item</method>
                    </Smart2Pay_Globalpay_quote_observer>
                </observers>
            </sales_quote_add_item>
            <sales_quote_remove_item>
                <observers>
                    <Smart2Pay_Globalpay_quote_observer>
                        <type>singleton</type>
                        <class>globalpay/sales_observer</class>
                        <method>remove_surcharge_from_quote_item</method>
                    </Smart2Pay_Globalpay_quote_observer>
                </observers>
            </sales_quote_remove_item>

            <!-- Order related -->
            <sales_order_payment_place_start>
                <observers>
                    <Smart2Pay_Globalpay_order_observer>
                        <class>globalpay/sales_observer</class>
                        <method>order_payment_place</method>
                    </Smart2Pay_Globalpay_order_observer>
                </observers>
            </sales_order_payment_place_start>

            <!-- Invoice related -->
            <sales_order_invoice_save_after>
                <observers>
                    <Smart2Pay_Globalpay_invoice_observer>
                        <class>globalpay/sales_observer</class>
                        <method>invoice_save</method>
                    </Smart2Pay_Globalpay_invoice_observer>
                </observers>
            </sales_order_invoice_save_after>

            <!-- Admin configuration related -->
<!--
            <model_config_data_save_before>
                <observers>
                    <Smart2Pay_Globalpay_admin_observer>
                        <class>globalpay/sales_observer</class>
                        <method>configuration_save</method>
                    </Smart2Pay_Globalpay_admin_observer>
                </observers>
            </model_config_data_save_before>
-->
        </events>

        <sales>
            <quote>
                <totals>
                    <Smart2Pay_Globalpay>
                        <class>globalpay/sales_quote_address_total_surcharge</class>
                        <after>shipping,tax</after>
                        <before>grand_total</before>
                    </Smart2Pay_Globalpay>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <Smart2Pay_Globalpay>
                        <class>globalpay/sales_order_invoice_total_surcharge</class>
                        <after>shipping,tax</after>
                        <before>grand_total</before>
                    </Smart2Pay_Globalpay>
                </totals>
            </order_invoice>
        </sales>

        <pdf>
            <totals>
                <Smart2Pay_Globalpay translate="title">
                    <title>Payment Method Fee</title>
                    <source_field>s2p_surcharge_amount</source_field>
                    <model>globalpay/sales_pdf_surcharge</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>699</sort_order>
                </Smart2Pay_Globalpay>
            </totals>
        </pdf>

        <fieldsets>
            <sales_convert_quote_payment>
                <s2p_surcharge_amount>
                    <to_order_payment>*</to_order_payment>
                </s2p_surcharge_amount>
                <s2p_surcharge_base_amount>
                    <to_order_payment>*</to_order_payment>
                </s2p_surcharge_base_amount>
                <s2p_surcharge_percent>
                    <to_order_payment>*</to_order_payment>
                </s2p_surcharge_percent>
                <s2p_surcharge_fixed_amount>
                    <to_order_payment>*</to_order_payment>
                </s2p_surcharge_fixed_amount>
                <s2p_surcharge_fixed_base_amount>
                    <to_order_payment>*</to_order_payment>
                </s2p_surcharge_fixed_base_amount>
            </sales_convert_quote_payment>

            <sales_convert_order_payment>
                <s2p_surcharge_amount>
                    <to_quote_payment>*</to_quote_payment>
                    <to_invoice>*</to_invoice>
                </s2p_surcharge_amount>
                <s2p_surcharge_base_amount>
                    <to_quote_payment>*</to_quote_payment>
                    <to_invoice>*</to_invoice>
                </s2p_surcharge_base_amount>
                <s2p_surcharge_fixed_amount>
                    <to_quote_payment>*</to_quote_payment>
                    <to_invoice>*</to_invoice>
                </s2p_surcharge_fixed_amount>
                <s2p_surcharge_fixed_base_amount>
                    <to_quote_payment>*</to_quote_payment>
                    <to_invoice>*</to_invoice>
                </s2p_surcharge_fixed_base_amount>
                <s2p_surcharge_percent>
                    <to_quote_payment>*</to_quote_payment>
                </s2p_surcharge_percent>
            </sales_convert_order_payment>
        </fieldsets>

        <template>
            <email>
                <payment_globalpay_payment_confirmation_template translate="label" module="globalpay">
                    <label><![CDATA[Globalpay Confirmation Template]]></label>
                    <file>smart2pay/globalpay/payment_confirmation.html</file>
                    <type>html</type>
                </payment_globalpay_payment_confirmation_template>
            </email>
            <email>
                <payment_globalpay_payment_instructions_template translate="label" module="globalpay">
                    <label><![CDATA[Globalpay Instructions Template (for Bank Transafer)]]></label>
                    <file>smart2pay/globalpay/payment_instructions.html</file>
                    <type>html</type>
                </payment_globalpay_payment_instructions_template>
            </email>
            <email>
                <payment_globalpay_payment_instructions_template_sibs translate="label" module="globalpay">
                    <label><![CDATA[Globalpay Instructions Template (for Multibanco SIBS)]]></label>
                    <file>smart2pay/globalpay/payment_instructions_sibs.html</file>
                    <type>html</type>
                </payment_globalpay_payment_instructions_template_sibs>
            </email>
        </template>

        <resources>
            <globalpay_setup>
                <setup>
                    <module>Smart2Pay_Globalpay</module>
                    <class>Smart2Pay_Globalpay_Model_Resource_Setup</class>
                </setup>
            </globalpay_setup>
        </resources>
        
    	<models>
    		<globalpay>
                <class>Smart2Pay_Globalpay_Model</class>
                 <resourceModel>globalpay_resource</resourceModel>
            </globalpay>
            <globalpay_resource>
                <class>Smart2Pay_Globalpay_Model_Resource</class>
                <entities>
                    <country>
                        <table>s2p_gp_countries</table>
                    </country>
                    <method>
                        <table>s2p_gp_methods</table>
                    </method>
                    <countrymethod>
                        <table>s2p_gp_countries_methods</table>
                    </countrymethod>
                    <transactionlogger>
                        <table>s2p_gp_transactions</table>
                    </transactionlogger>
                    <configuredmethods>
                        <table>s2p_gp_methods_configured</table>
                    </configuredmethods>
                    <logger>
                        <table>s2p_gp_logs</table>
                    </logger>
                </entities>
            </globalpay_resource>
    	</models>

    	<blocks>
    		<globalpay>
                <class>Smart2Pay_Globalpay_Block</class>
            </globalpay>
    	</blocks>

        <helpers>
            <globalpay>
                <class>Smart2Pay_Globalpay_Helper</class>
            </globalpay>
        </helpers>
    </global>

    <default>

        <sales>
            <totals_sort>
                <Smart2Pay_Globalpay>99</Smart2Pay_Globalpay>
            </totals_sort>
        </sales>

        <payment>
            <globalpay>
                <active>1</active>
                <model>globalpay/pay</model>
                <environment>demo</environment>
                <order_status>holded</order_status>
                <order_status_on_2>processing</order_status_on_2>
                <order_status_on_3>canceled</order_status_on_3>
                <order_status_on_4>canceled</order_status_on_4>
                <order_status_on_5>canceled</order_status_on_5>
                <title><![CDATA[Alternative payment methods]]></title>
                <post_url_live>https://api.smart2pay.com</post_url_live>
                <post_url_test>https://apitest.smart2pay.com</post_url_test>
                <methods>1,2,3,4,5,8,9,12,13,14,18,19,20,22,23,24,25,27,28,29,32,33,34,35,36,37,40,42,43,44,46,47,48,49,62,63,64,65,66,67,72,73,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043</methods>
                <display_surcharge>0</display_surcharge>
                <product_description_ref>1</product_description_ref>
                <autoselect_s2p>1</autoselect_s2p>
                <skip_payment_page>1</skip_payment_page>
                <debug_form>0</debug_form>
                <grid_column_number>3</grid_column_number>
                <return_url>http://www.example.com/index.php/globalpay/index/info/</return_url>
                <message_data_2><![CDATA[Thank you, the transaction has been processed successfuly. After we receive the final confirmation, we will release the goods.]]></message_data_2>
                <message_data_4><![CDATA[There was a problem processing your payment. Please try again.]]></message_data_4>
                <message_data_3><![CDATA[You have canceled the payment.]]></message_data_3>
                <message_data_7><![CDATA[Thank you, the transaction is pending. After we receive the final confirmation, we will release the goods.]]></message_data_7>
                <selected_methods>0</selected_methods>
            </globalpay>
         </payment>
    </default>
</config>
