<?xml version="1.0" encoding="UTF-8"?>
<config>
   <sections>
        <payment>
            <groups>
                <globalpay translate="label" module="paygate">
                    <label>Smart2Pay Payment Module</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website> 
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <environment translate="label">
                            <label><![CDATA[<b>&raquo; Environment</b>]]> </label>
                            <frontend_type>select</frontend_type>
                            <source_model>globalpay/source_testlive</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </environment>
                        <post_url_live translate="label">
                            <label><![CDATA[<b>&raquo; Post URL Live</b>]]></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </post_url_live>
                        <post_url_test translate="label">
                            <label><![CDATA[<b>&raquo; Post URL Test</b>]]></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </post_url_test>
                        <mid_live translate="label">
                            <label><![CDATA[<b>&raquo; MID Live</b>]]></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mid_live>
                        <mid_test translate="label">
                            <label><![CDATA[<b>&raquo; MID Test</b>]]></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mid_test>
                        <site_id translate="label">
                            <label>Site ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </site_id>
                        <signature_live translate="label">
                            <label><![CDATA[<b>&raquo; Signature Live</b>]]></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </signature_live>
                        <signature_test translate="label">
                            <label><![CDATA[<b>&raquo; Signature Test</b>]]></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </signature_test>
                        <return_url translate="label">
                            <label><![CDATA[<b>&raquo; Return URL</b>]]></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </return_url>
                        <title translate="label">
                            <label>Title</label>
                            <comment>Insert a custom title for this payment module</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <methods translate="label">
                            <label>Active methods</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>13</sort_order>
                            <source_model>globalpay/source_methods</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </methods>
                        <methods_display_mode translate="label">
                            <label>Methods display mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>globalpay/source_displaymodes</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </methods_display_mode>
                        <show_methods_in_grid translate="label">
                            <label>Show methods in grid</label>
                            <comment>By default, methods will be displayed as a two columns table, having paymentm method's logo or name and description. When set to yes, description is omitted, and columns number can be specified bellow.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_methods_in_grid>
                        <grid_column_number translate="label">
                            <label>Grid column number</label>
                            <comment>Please provide a number, if left blank, the  default value is 3 (This value is used only if above option is set to yes)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grid_column_number>
                        <product_description_ref translate="label">
                            <label>Send order number as product description</label>
                            <comment>If "No" is selected, the below custom description will be send</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_description_ref>
                        <product_description_custom translate="label">
                            <label>Custom product description</label>
                            <frontend_type>textarea</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_description_custom>
                        <notify_customer translate="label">
                            <label>Notify customer by email</label>
                            <comment>Send a confirmation email to the customer on success payment notification</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notify_customer>
                        <payment_confirmation_template translate="label">
                            <label>Payment Confirmation Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_confirmation_template>
						 <notify_payment_instructions translate="label">
                            <label>Send payment instructions on order creation</label>
                            <comment>Send a confirmation email to the customer on order creation with payment details</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notify_payment_instructions>
                        <payment_instructions_template translate="label">
                            <label>Payment Instructions Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_instructions_template>

                        <auto_invoice translate="label">
                            <label>Create invoice on success</label>
                            <comment>Create an invoice if payment is successfully done. Invoice is automatically set to paid</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auto_invoice>

                        <auto_ship translate="label">
                            <label>Automate shipping</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auto_ship>

                        <order_status translate="label">
                            <label>New Order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <order_status_on_2 translate="label">
                            <label>Order status on SUCCESS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_on_2>
                        <order_status_on_3 translate="label">
                            <label>Order status on CANCEL</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_on_3>
                        <order_status_on_4 translate="label">
                            <label>Order status on FAIL</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_on_4>
                        <order_status_on_5 translate="label">
                            <label>Order status on EXPIRED</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_on_5>
                        <skip_payment_page translate="label">
                            <label>Skip payment page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skip_payment_page>
                        <redirect_in_iframe translate="label">
                            <label>Redirect in iframe</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_in_iframe>
                        <skin_id translate="label">
                            <label>Skin ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skin_id>
                        <message_data_2 translate="label">
                            <label>Message Success</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>37</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message_data_2>
                        <message_data_4 translate="label">
                            <label>Message Failed</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>38</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message_data_4>
                        <message_data_3 translate="label">
                            <label>Message Canceled</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>39</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message_data_3>
                        <message_data_7 translate="label">
                            <label>Message Pending</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message_data_7>
                        <debug_form translate="label">
                            <label>[ Debug Form ]</label>
                            <comment>Show form data before submiting it to Smart2Pay</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug_form>
                    </fields>
                </globalpay>
            </groups>
        </payment>
    </sections>
</config>
